*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: lavender;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid rgb(248, 129, 2);
  outline: none;
  background-color: rgb(0, 0, 0);
  color: white;
  transition: background-color 0.3s;
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(255, 255, 255, .9);
}

.calculator-grid > button:active {
  background-color: rgb(0, 0, 0);
}

/* Style for the AC button */
.calculator-grid > button.AC {
  background-color: red; /* Set the background color for AC to red */
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: white;
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}
